body {
  	background-color: #ffffff;
}

a.link {
	text-decoration: none;
	color: inherit;

}

a.link:hover {
	color: #FF7931;
}

.main-header {
	font-family: Playfair Display;
	font-style: normal;
	font-weight: 900;
	font-size: 35px;
	line-height: 47px;
	letter-spacing: 1px;
	text-align: center;
	margin-top: 60px;
	margin-bottom: 46px;
}

.menu {
	display: flex;
	justify-content: space-between;
	width: 1171px;
	margin-left: auto;
	margin-right: auto;
}

.text-menu {
	font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 2px;
	color: #000000;
}

.container-event {
	display: flex;
	flex-direction: column;
}

.main-event {
	background: url("img/hotel_under_water.svg") no-repeat;
	width: 1440px;
	height: 464px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 47px;
}

.gallery {
    background: url("icons/gallery_icon.svg") no-repeat;
    width: 55px;
    height: 55px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 46px;
    margin-bottom: 32px;
}

.main-event-header {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 72px;
	line-height: 84px;
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #FFFFFF;
	margin-bottom: 139px;
}

.main-event-text {
    font-family: Roboto;
    font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
	text-align: center;
	color: #FFFFFF;
	width: 456px;
	margin-right: auto;
    margin-left: auto;
}

.views-header {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	line-height: 20px;
	letter-spacing: 2px;
	color: #000000;	
	text-align: center;
	margin-top: 44px;
	margin-bottom: 20px;
}

.container-views {
	display: flex;
	justify-content: center;
	min-height: 379px;
	margin-left: auto;
	margin-right: auto;
}

.view-1 {
	width: 370px;
}

.view-2 {
	width: 370px;
	margin-left: 30px;
	margin-right: 30px;	
}

.view-3 {
	width: 370px;	
}

.view-1-image {
	background: url("img/monparnas.svg") no-repeat;
	min-height: 203px;
}

.view-2-image {
	background: url("img/anatomy.svg") no-repeat;
	min-height: 203px;
}

.view-3-image {
	background: url("img/theather.svg") no-repeat;
	min-height: 203px;
}

h3 {
	font-family: Playfair Display;
	font-style: normal;
	font-weight: 900;
	font-size: 23px;
	line-height: 31px;
	color: #000000;
	margin-top: 20px;
	margin-bottom: 10px;
}

p {
  	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 150%;
    color: #000000;
    margin-top: 10px;
}

.abonement {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	width: 1440px;
	min-height: 556px;
	background: #F7F7F7 url("img/Ellipse.png") no-repeat 50% 50%;
	margin-left: auto;
    margin-right: auto;
}

.abonement-header {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	line-height: 20px;
	letter-spacing: 2px;
	color: #000000;	
	text-align: center;
	margin-top: 33px;
	margin-bottom: 0px;
}

.box-text-abonement {
	width: 370px;
	min-height: 104px;
	text-align: center;
}

a.button-abonement {
	background-color: #FF7931;
	border: none;
	width: 170px;
	height: 29px;
	font-family: Roboto;
 	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #FFFFFF;
	padding-top: 18px;
	text-align: right;
	text-decoration: none;
	margin-bottom: 30px;
}

a.button-abonement::after {
	content: url("icons/arrow_forward_icon.svg");
	float: right;
	margin-right: 30px;
	margin-top: -6px;
}

.container-empty {
    display: flex;
    width: 1440px;
    min-height: 50px;
    background-color: #ffffff;
}

.container-footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
    width: 1440px;
    min-height: 295px;
    background-color: #575757;
    margin: 0px auto;
}

.footer-header {
	font-family: Playfair Display;
	font-style: normal;
	font-weight: 900;
	font-size: 28px;
	line-height: 37px;
	letter-spacing: 1px;
	color: #FFFFFF;
}

.footer-menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
    width: 1171px;
}

.footer-menu.text-menu {
	color: #FFFFFF;
}

.footer-social {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 169px;
}

.instagram {
	background: #FFFFFF url("icons/instagram_icon.svg") no-repeat 50% 50%;
	width: 47px;
	height: 47px;
}

.facebook {
	background: #FFFFFF url("icons/facebook_icon.svg") no-repeat 50% 50%;
	width: 47px;
	height: 47px;
}

.twitter {
	background: #FFFFFF url("icons/twitter_icon.svg") no-repeat 50% 50%;
	width: 47px;
	height: 47px;	
}